.bold{
	font-weight: bold;
	font-size: 16px;
	color: rgb(90,90,90);
}
.font_big{
	font-size: 16px;
	color: rgb(90,90,90);
}
.margin_small{
	margin-left: 3%;
	margin-right: 3%;
	padding-bottom: 60px;
}

td{
	cursor:pointer;
}
.pacientes{
	padding: 5px;
	cursor:pointer;
}
.pacientes:hover{
	background-color: #0399ff;
	color:white;
	padding: 5px;
}
