body{
	background-image: url("img.jpg");
	padding: 200px 550px;
}
.estilo_geral {
	font-size: 18px;
	color :#ffffff;
	display: block;
	background: #000000;
	width: all;
}
label.estilo_gerl {
	font-size: 20px;
	color:red;
}
.alerta_erro {
	color :red;
}

